.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#333, #333);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -40px;
}

/* Body and Background Styling */
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* Centering the Form */
form {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 20px 35px;
}


/* Form Fields */
mat-form-field {
  width: 100%;
  background-color: transparent;

}
::ng-deep.mat-mdc-text-field-wrapper {
  /*change color of underline*/
  background-color: #ffffff6e !important;
}
input {
  display: block;
  height: 30px;
  width: 100%;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}


/* Buttons */
button[mat-raised-button] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

button[mat-raised-button]:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 20px rgba(106, 17, 203, 0.5);
}

button[mat-button] {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  text-decoration: underline;
  background: none;
}

button[mat-button]:hover {
  color: #333;
}

/* Password Visibility Icon */
mat-icon {
  cursor: pointer;
  color: #333;
  transition: transform 0.2s;
}

mat-icon:hover {
  transform: scale(1.2);
  color: #333;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Design */
@media (max-width: 480px) {
  form {
    padding: 20px;
  }

  button[mat-raised-button] {
    font-size: 14px;
  }
}
