<app-navbar></app-navbar>
<div class="container px-4 py-8 mx-auto">
  <div class="p-6 bg-white rounded-lg shadow-md details-container">
      <div class="details" *ngIf="recipe$ | async as recipe; else loading">
          <div class="flex items-start justify-between mb-4">
              <h1 class="text-3xl font-bold text-gray-800 title">{{ recipe.name }}</h1>
               <button (click)="toggleFollow(recipe)"
                  class="flex items-center text-gray-600 transition duration-300 hover:text-gray-800 focus:outline-none"
                >
                  <i class="mr-1 fa" [ngClass]="isFollowing ? 'fa-user-minus' : 'fa-user-plus'"></i>
                    <p class="text-sm">{{isFollowing ? 'Unfollow' : 'Follow'}}</p>
                  </button>
           </div>
          <p class="mb-4 text-gray-700 description">{{ recipe.description }}</p>
          <p class="mb-4 text-gray-500 cooking-time">Cooking time: {{ recipe.cookingTime }} m</p>

          <div class="flex items-center mb-4 space-x-3">
              <button
                  (click)="sendToShoppingList(recipe)"
                   class="p-2 text-white transition duration-300 bg-green-500 rounded hover:bg-green-700 focus:outline-none"
                  title="Add to Shopping List">
                  <i class="fa fa-shopping-cart"></i>
                </button>
              <div class="flex items-center space-x-2">
               <button (click)="addToMealPlan(recipe.id, 'Breakfast')"
                   class="p-2 text-white transition duration-300 bg-red-500 rounded hover:bg-red-700 focus:outline-none" title="Add to Breakfast">
                  <i class="fa fa-sun"></i>
                </button>
                <button
                  (click)="addToMealPlan(recipe.id, 'Lunch')"
                  class="p-2 text-white transition duration-300 bg-orange-500 rounded hover:bg-orange-700 focus:outline-none" title="Add to Lunch">
                 <i class="fa fa-cutlery"></i>
               </button>
                <button
                    (click)="addToMealPlan(recipe.id, 'Dinner')"
                    class="p-2 text-white transition duration-300 bg-orange-600 rounded hover:bg-orange-700 focus:outline-none" title="Add to Dinner">
                  <i class="fa fa-moon"></i>
                </button>
              </div>
          </div>

          <p class="mb-2">Rate this Recipe</p>
          <div class="flex mb-2 star-rating">
              <i
                  *ngFor="let star of stars; let i = index"
                  class="fa"
                  [ngClass]="{
              'fa-star': true,
              'text-yellow-500': flag && i < currentRating,
              'text-gray-300': !(flag && i < currentRating),
              'hover:text-yellow-400': !flag && i < hoveredRating
            }"
                  (mouseover)="starOnHover(i)"
                  (mouseleave)="starOnLeave()"
                  (click)="starOnClick(i, recipe)"
              >
              </i>
          </div>
         <div class="mb-4 rating">
          Rating:
          <span *ngIf="flag === true; else hoveredRatingSpan">{{ currentRating }}</span>
          <ng-template #hoveredRatingSpan>
              <span *ngIf="hoveredRating !== currentRating; else currentRatingSpan">{{ hoveredRating }}</span>
              <ng-template #currentRatingSpan>{{ currentRating }}</ng-template>
          </ng-template>
      </div>

          <div class="relative mb-4 image-sectoin">
              <div class="absolute z-10 heart-toggle top-2 right-2">
                  <i
                    class="text-2xl cursor-pointer fa fa-heart"
                      [ngClass]="{'text-red-500': isToggled, 'text-gray-300': !isToggled}"
                      (click)="toggleHeart()"
                  ></i>
              </div>
              <div class="overflow-hidden rounded-md image-container">
                  <img class="w-full h-auto main-img" src="{{recipe.imageUrl}}" alt="{{ recipe.name }}" />
              </div>
          </div>

          <div class="mb-4 ingredients">
              <h2 class="mb-2 text-xl font-bold uppercase">
                  <span class="text-green-500">INGREDIENTS</span> LIST FOR THE
                  {{ recipe.name }}
              </h2>
              <ul class="text-lg" *ngIf="recipe.ingredients">
                  <li class="mb-2" *ngFor="let ingredient of recipe.ingredients">
                      {{ ingredient.name }}:
                      <span class="text-green-500"> ${{ ingredient.price }} </span>
                  </li>
              </ul>
          </div>

          <div class="comments">
              <h2 class="mb-2 text-xl font-bold">Reviews</h2>
              <hr class="mb-4 border-gray-300" />
              <div>
                  <form class="flex flex-col mb-4 comment-form" [formGroup]="commentForm" (ngSubmit)="addComment(recipe)">
                      <textarea placeholder="Add your review..." class="p-2 mb-2 border rounded text-area" formControlName="text"></textarea>
                      <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded add-comment-btn hover:bg-blue-700" type="submit" [disabled]="!commentForm.valid">
                          Add review
                      </button>
                  </form>
              </div>
              <div *ngIf="recipe.comments && recipe.comments.length > 0; else noComments">
                  <div *ngFor="let comment of recipe.comments" class="mb-4 comment">
                      <div *ngIf="comment.text !== ''" class="flex items-center comment-user">
                          <div class="flex items-center">
                              <i class="mr-2 fa fa-user"></i>
                              <strong class="mr-2">{{ comment.username }}</strong>
                          </div>
                          <p class="text-sm text-gray-500">({{ formatDate(comment.timestamp.toString()) }})</p>
                      </div>
                      <p class="ml-12 text-gray-700">{{ comment.text }}</p>
                  </div>
              </div>

              <ng-template #noComments>
                  <p>No comments yet. Be the first to comment!</p>
              </ng-template>
          </div>
      </div>
  </div>



  <ng-template #loading>
      <p>loading</p>
  </ng-template>
</div>  <footer class="p-4 text-center bg-gray-700">
    <p class="p-4 text-center text-white">© 2024 Ammar yasser Enterprises Limited</p>
</footer>